{#
/**
 * @file
 * Default theme implementation for the io-browser wrapper template.
 *
 * Available variables:
 * - attributes: An array of attributes to apply to the element.
 * - content: A renderable array of the preview elements.
 * - element: A renderable array of the form elements.
 * - settings: An array containing the given settings.
 *
 * @see template_preprocess_io_browser()
 *
 */
#}
{%
  set classes = [
    'io-browser',
    'blazy',
    'ib__widget',
    'is-ib-selection',
    not content.main ? 'is-ib-empty',
    blazies.target_type ? 'is-ib-' ~ blazies.target_type|clean_class,
    ib.is.eb ? 'is-ib-eb',
    ib.is.text ? 'is-ib-text',
    settings.style ? 'is-ib-' ~ settings.style,
    settings.style and settings.style != 'single' ? 'is-ib-grid',
    'is-ib-' ~ blazies.get.count,
  ]
%}
<div id="{{ attributes.id|clean_id }}"{{ attributes.addClass(classes)|without('id') }}>

  {% block io_browser_header %}
    {% if content.header %}
      <div class="ib__header">
        <div class="button-group button-group--text">
          {{ content.header }}
        </div>
      </div>
    {% endif %}
  {% endblock %}

  {% block io_browser_draggable %}
    {{ content.draggable }}
  {% endblock %}

  {% if content.main %}
    {% block io_browser_preview %}
      <div class="ib__display">
        {{ content.main }}
      </div>
    {% endblock %}
  {% endif %}

  <div class="ib__zoom"></div>
</div>
