/**
 * @file
 */

.b-nativegrid--form .form__title,
.b-nativegrid--form .grid:not(.form-item--style),
.b-nativegrid--form.form--style-off .grid:not(.form-item--style) {
  display: none !important;
}

.b-nativegrid--form.form--style-on .grid {
  display: flex !important;
}
