/**
 * @file
 */

/* csslint "box-sizing": true, "box-model": true, ids: true */
.ib,
.ib *,
.ib *::before,
.ib *::after {
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
}

.ib img,
.ib iframe,
.ib video {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.ib img {
  height: auto;
}

.ib .item-selected {
  cursor: move;
}

.ib .form-text {
  cursor: text;
}

.ib .button,
.button-wrap .button {
  border-radius: 0;
}

/** Button groups. */
.ib .button-group {
  position: relative;
  overflow: hidden;
  border: 1px solid #a6a6a6;
  background-color: #e6e5e1;
}

/**
 * Actions.
 */
.ib__header {
  position: relative;
  overflow: hidden;
  padding: 4px;
  text-align: center;
  background: #e6e5e1;
}

.is-ib-single .ib__header {
  padding: 0;
}

.ib__widget.is-ib-empty .ib__header {
  background: none;
}

/** Prevents blocking tabs click. */
.form--ib .ib--root-hidden .ib__widget.is-ib-empty .ib__header {
  display: none;
}

.ib .ib__header > div,
.ib .ib__header .button-group {
  position: relative;
  display: inline-block;
  visibility: visible;
  width: auto;
  min-height: 32px;
  margin: 0 0 0 4px;
  vertical-align: top;
}

.ib .ib__action .form-item,
.ib .ib__action .button {
  display: inline-block;
  clear: none;
  width: auto;
  vertical-align: top;
}

.ib .button-group .button,
.ui-dialog-titlebar .button {
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  height: 30px;
  margin: 0;
  /* Claro */
  padding: 5px 1rem;
  line-height: 1; /* Claro */
}

.ib .button-group .button {
  right: auto;
  left: auto;
  float: left;
  text-align: center;
  border: 0;
}

.ib .button-group .button--view {
  padding: 5px;
}

.ib__widget .ib__action .button {
  background: #e6e5e1;
}

/** Button wrappers. */
.ib .button-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  overflow: hidden;
  width: 32px;
  height: 32px;
  text-align: center;
  text-indent: 0;
  color: #000;
  line-height: 32px;
}

.ib .button-wrap.button-group {
  width: 100%;
  height: auto;
  min-height: 32px;
}

.ib .button-wrap:hover {
  color: #fff;
}

.ib .button-wrap .button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0;
  border: 0;
  font-size: 0;
  line-height: 14px;
}

.ib .button-group .button,
.ib .button-group.button-group--grid .button {
  font-family: sans-serif;
  font-size: 16px;
}

.ib .button-group--text .button {
  width: 100%;
}

.ib .button-group.button-group--icon .button {
  width: 36px;
  font-size: 0;
}

.ib .button-wrap .button:hover {
  color: #fff;
  background: #ff6d2c;
  box-shadow: none;
}

.ib .button-wrap.button-wrap--remove {
  right: auto;
  left: 0;
}

.ib .button-wrap.button-wrap--replace {
  right: 36px;
  left: auto;
}

/** File has no edit link. */
.is-ib-file .button-wrap.button-wrap--replace,
.is-ib-single .button-wrap.button-wrap--replace {
  right: 0;
}

.ib .button-group .button--info {
  right: 0;
  left: auto;
}

.ib .button-wrap.button-wrap--show-selection {
  top: 0;
  bottom: auto;
  width: 32px;
  height: 32px;
}

.ib.form--buttons-bottom.form--tabs-bottom .button-wrap.button-wrap--show-selection {
  top: auto;
  bottom: 48px;
}

/*
.form--tabs-top.form--selection-v .button-wrap.button-wrap--show-selection {
  top: 40px;
}
*/

.form--selection-bottom .button-wrap.button-wrap--show-selection {
  top: -32px;
}

.form--selection-bottom.is-ib-collapsed .button-wrap.button-wrap--show-selection {
  top: 0;
}

/** Icons. */
.ib .button-wrap::before {
  position: relative;
  display: inline-block;
  margin: auto;
  content: "";
  pointer-events: none;
  font-size: 20px;
}

/** Bottom */
.form--ib .button-wrap--show-selection::before {
  display: block;
  content: "\25bc";
}

.form--ib.is-ib-collapsed .button-wrap--show-selection::before {
  content: "\25b2";
}

/** Left */
.form--selection-v .button-wrap--show-selection::before {
  height: 100%;
  line-height: 26px;
}

.form--selection-left .button-wrap--show-selection::before {
  content: "\25c0";
}

.form--selection-left.is-ib-collapsed .button-wrap--show-selection::before {
  content: "\25b6";
}

/** Right */
.form--selection-right .button-wrap--show-selection::before {
  content: "\25b6";
}

.form--selection-right.is-ib-collapsed .button-wrap--show-selection::before {
  content: "\25c0";
}

/** Remove: \2717 Plus: \002b */
.ib .button-wrap--remove::before {
  content: "\00d7";
}

.ib .button-wrap--replace::before {
  content: "\02194";
}

/** Grid */
.ib .button-group--grid .button {
  width: 32px;
}

.view--ib.view--ib .button-group--grid {
  position: absolute;
}

.view--ib.view--ib.view--ib-list .button-group--grid {
  display: none;
}

.ib .is-ib-checked .button--select {
  color: #fff;
  background: #ff6d2c;
}

/** Edit */
.ib .button-wrap--edit::before {
  content: "\270F";
  /* content: '\270E';
  content: '\270D'; */
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ib .item-container.label,
.ib .item-container .views-field--selection {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ui-dialog--ib .ajax-progress-throbber {
  display: none;
}

.ib .media {
  background-color: #f0f0f0;
}

/*
 * Delete confirm.
 */
.button-wrap--confirm span {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  display: block;
  width: 100%;
  min-width: 32px;
  height: 32px;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  font-size: 0;
}

.button-wrap--confirm.is-open,
.ib .ib__action .button-wrap.is-open,
.ib .button-wrap--confirm.is-open .button {
  width: 80px;
}

.button-wrap--confirm.is-open::before {
  display: none;
}

.button-wrap--confirm.is-open .button--wrap__mask {
  right: -100%;
}

.button-wrap--confirm .button--wrap__mask:hover,
.button-wrap--confirm.is-open .button--wrap__confirm {
  color: #fff;
  background-color: #ff6d2c;
  font-size: 14px;
}

.is-deleted .grid__content,
.is-deleted .slide__content {
  opacity: 0.6;
}

.ib__footer .item-container .button--wrap__mask {
  background: #e6e5e1;
}

/** Overrides new core opacity as not good for button remove being dimmed out. */
.ib__footer .entities-list .item-container:hover {
  opacity: 1;
}

.ib .is-b-loading::before,
.ib-body .is-b-loading::before,
.form--ib .is-b-loading::before {
  display: block;
}

.ib.is-b-loading::before {
  position: fixed;
  z-index: 999;
}

.ib__widget {
  min-height: 120px;
}

.ib .b-fallback {
  display: block;
  padding: 1em;
  text-align: center;
}

.ib-body .messages {
  margin-top: 32px;
}

/* Claro */
.ib-body > .page-wrapper > .layout-container {
  margin-right: auto;
  margin-left: auto;
}

.ib .media--instagram {
  min-height: 140px;
}

/** @todo re-enable if issues.
.is-ib-empty .is-btn-hidden {
  display: none;
}

.ib .is-btn-hidden {
  display: none;
}

.ib .is-btn-visible {
  display: block;
}

*/
