/**
 * @file
 */

.ib,
.ib .grid__content,
.ib .item-container {
  position: relative;
}

.ib-body {
  background: #fff;
  /* margin: 0;
  padding: 0; */
}

.ib .entities-list .item-container > img,
.ib .entities-list .item-container > input {
  margin: auto;
}

.ib__widget .item-container {
  min-width: 120px;
}

.ib__footer .item-container {
  overflow: hidden;
}

/** Visibility. */
.visible-list,
.visible-grid,
.visible-help,
/* .form--ib .view .button-group, */
.view--file .blazy--grid .ib__caption,
.view--media .blazy--grid .ib__caption {
  display: none;
}

.ib .button-wrap .button,
.view--ib-help .visible-help,
.view--ib-grid .visible-grid,
.view--ib-list .visible-list,
.view--ib .blazy--grid .ib__preview,
.view--ib .blazy--grid .views-field--preview,
.view--ib .blazy--grid .views-field--selection,
.view--ib .blazy--grid .views-field.visually-hidden,
.view--ib .blazy--grid .is-ib-info-active .ib__caption,
.form--ib .view--ib-grid .button-group--grid {
  display: block;
}

/** Info. */
/** This button is cloned to the header (dialog tittlebar), so hide it. */
/** Disable till required unless having Views, not upload.
.form--upload .ib__header [name="use_selected"], */
.form--ib.is-ib-empty .button-group--select,
.form--ib.form--inline-entity-form.is-ib-empty .ib__header [name="use_selected"] {
  position: absolute;
  z-index: -1;
  /* height: 0; */
  left: -9999px;
  visibility: hidden;
  width: 100%;
  opacity: 0;
}

.form--ib.form--inline-entity-form .button-group--select {
  position: relative;
  z-index: 1;
  left: auto;
  visibility: visible;
  width: auto;
  height: auto;
  opacity: 1;
}

.view--ib-grid .button-group--grid {
  position: relative;
  width: 100%;
}

.form--ib > .ib__header {
  position: fixed;
}

.ib .entity-browser-iframe-container,
.ib__widget {
  margin: 0 auto;
}

.ib .entity-browser-iframe-container {
  margin-top: 15px;
}

/** :not([open]) */
.ib.ib--root > .details-wrapper.visually-hidden {
  display: block;
}

/** Layering. */
.ib--root .ib--root {
  z-index: 1;
}

.form--ib .ib__header {
  z-index: 101; /* Above footer selection. */
}

.ib .pager {
  z-index: 999;
}

.form--tabs .eb-tabs {
  position: fixed;
  z-index: 98;
  left: 0;
}

.form--ib .ib__footer {
  z-index: 96; /* above dots, beneath header. */
}

.ib__help {
  z-index: 8;
}

.ib .view-filters {
  position: relative;
  z-index: 12; /* Makes Bundle menu above the content. */
}

.ib .views-exposed-form {
  position: relative;
  z-index: 9;
  padding: 0.25rem 1.25rem;
}

/*
.form--tabs-v > .ib__main,
.form--tabs-v > div[style^="display"],
.form--selection-v > .ib__main,
.form--selection-v > div[style^="display"] {
  width: 100%;
  position: relative;
}
*/

.ib .button-wrap {
  z-index: 7;
}

.ib .button-wrap--show-selection {
  z-index: 8;
}

.ib .button-wrap .button {
  z-index: 2;
}

.ib .button-wrap::before {
  /** Above core theme button:focus, otherwise the icons are hidden. */
  z-index: 11;
}

.ib .button-group--grid {
  z-index: 11;
  border: 0;
}

.ib .ib__action {
  z-index: 80;
}

.button-wrap--confirm .button--wrap__mask {
  z-index: 10;
  -webkit-transition: right 0.2s ease-out;
  transition: right 0.2s ease-out;
}

.button-wrap--confirm .button--wrap__confirm {
  z-index: 1;
}

.button-wrap--confirm .button,
.button-wrap--confirm .button:hover {
  z-index: 2;
  opacity: 0;
}

/* Directly delete after confirm, no need for AJAX for known widget part. */
.ib__widget .button-wrap--confirm .button--remove,
.ib__widget .button-wrap--confirm .button--remove:hover {
  z-index: -1;
}

/* Unless with limited cardinality  so to reveal the Media Library button. */
/* Relies on AJAX to rebuild the Media Library link. */
.is-ib-ajax .button-wrap--confirm.is-open .button--remove,
.is-ib-ajax .button-wrap--confirm.is-open .button--remove:hover,
.is-ib-single .button-wrap--confirm.is-open .button--remove,
.is-ib-single .button-wrap--confirm.is-open .button--remove:hover {
  z-index: 12;
}

.ib .ib__sortlist {
  z-index: 99;
}

.is-ib-sort .ib__sortlist {
  z-index: 99;
  visibility: visible;
  overflow-y: auto;
  opacity: 1;
}

.is-ib-1 .ib__caption {
  z-index: 9;
}

/** Can be within a form, or outside as within a widget. */
.ib__header {
  text-align: right;
}

@media (min-width: 640px) {
  .ib .button-group--text .button {
    width: auto;
  }

  .ib .ib__header > div,
  .ib .ib__header .button-group {
    margin-bottom: 0;
  }

  .view--node.view--ib-list .field__label,
  .view--block.view--ib-list .field__label,
  .view--node.view--ib-list .views-label,
  .view--block.view--ib-list .views-label {
    position: absolute;
    visibility: hidden;
  }
}
