/**
 * @file
 */

.ib .blazy--grid {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.ib .b-grid {
  margin: 0 -0.25rem;
}

.ib .b-grid > .grid {
  padding: 0 0.25rem 0.5rem;
}

.ib .b-column {
  display: block; /* Claro */
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}

.ib .media-library-item__attributes {
  max-width: 100%;
}

.ib .item-list--blazy-grid {
  padding: 0 0.625rem;
}
