/**
 * @file
 */

.ib.form--buttons-top .ib__header,
.ib.form--tabs-top .eb-tabs {
  top: 0;
  bottom: auto;
}

.ib.form--tabs-top .ib__header .eb-tabs {
  top: 5px;
}

.ib.form--tabs-bottom .eb-tabs {
  top: auto;
  bottom: 4px;
}

/** Tabs remove border to allow vertical tabs. */
.ib.form--tabs .eb-tabs ul,
.ib.form--tabs .eb-tabs ul li {
  border: 0;
}

.ib.form--tabs-h .eb-tabs {
  background-color: #e6e5e1;
}

.ib.form--tabs-h .eb-tabs ul li.active {
  background: #fff;
}

.ib.form--tabs-top.form--media-bundle-selection .eb-tabs ul li.active {
  background: #f0f0f0;
}

.ib.form--tabs-v .eb-tabs ul li.active {
  border-bottom: 1px solid #444;
}

.ib.form--tabs .eb-tabs ul li a {
  padding: 8px 1em;
  text-decoration: none; /* Claro */
}

.ib.form--buttons-bottom.form--tabs-bottom .views-exposed-form.views-exposed-form {
  margin-top: 0;
}

.ib__header .button {
  margin: 0;
}

/** Ajaxified Add to Page */
.ib__header input {
  position: relative;
  margin: 0;
  padding: 6px 15px 7px;
}

.ib__header > .entity-browser-use-selected.is-btn-hidden {
  right: 72px;
}

@media (min-width: 640px) {
  .ib.form--tabs .ib__header .eb-tabs {
    float: left;
    width: auto;
  }

  .ib.form--tabs .ib__footer .eb-tabs {
    width: 100%;
  }

  .ib.form--tabs-v.form--tabs-right .eb-tabs {
    right: 0;
    left: auto;
  }

  .ib.form--buttons-top.form--tabs-bottom .eb-tabs {
    bottom: 0;
  }

  .ib.form--buttons-bottom .ib__header {
    top: auto;
    bottom: 0;
  }

  .ib.form--buttons-top .ib__header > div {
    top: 4px;
    bottom: auto;
  }
}

@media (min-width: 768px) {
  .ib.form--tabs-v .eb-tabs ul li {
    display: block;
  }

  /* Not expected! Tabs is opposite of selection /ib__footer. */
  .ib.form--tabs-left.form--selection-right .eb-tabs,
  .ib.form--tabs-right.form--selection-left .eb-tabs {
    top: 64px;
    width: 180px;
  }

  .ib.form--tabs-left.form--selection-right > .ib,
  .ib.form--tabs-left.form--selection-right > .ib__main {
    padding-left: 210px;
  }

  .ib.form--tabs-right.form--selection-left > .ib,
  .ib.form--tabs-right.form--selection-left > .ib__main {
    padding-right: 210px;
  }
}
