/**
 * @file
 */

.view--ib .ib__autosubmit {
  position: relative;
  overflow: hidden;
}

.ib__autosubmit .ib__radios.form-wrapper {
  clear: both;
  width: 100%;
  margin: 1rem 0;
}

/* Seven vs. Claro. */
.ib__radios .form-radios .form-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 1px;
  padding: 0;
  vertical-align: top;
  line-height: 36px;
}

.ib__radios legend,
.ib__radios .form-radios input {
  position: absolute;
  top: 0;
  visibility: hidden;
  margin: 0;
  /* Claro */
  transform: none;
  opacity: 0;
}

.ib__radios legend {
  display: none;
}

.ib__radios .form-radios .form-item input {
  width: 100%;
  height: 100%;
}

.ib__radios .form-radios .form-item label {
  padding: 0.5rem 1rem;
  background: #f0f0f0;
}

.ib__radios .form-radios .form-item input:checked ~ label {
  color: #fff;
  background: #ff6d2c;
}

@media (min-width: 768px) {
  .ib__autosubmit .ib__radios.form-wrapper {
    left: 0;
    margin: 0;
    padding: 5px 2rem;
    background: #f0f0f0;
  }

  .ib .preview-section .ib__radios.form-wrapper {
    margin: 1rem 0;
  }

  /* Limit when form is available to not disturn Views preview. */
  .form--ib .ib__autosubmit .ib__radios.form-wrapper,
  .form--ib.form--selection-bottom.form--selection-h .ib__autosubmit .ib__radios.form-wrapper {
    position: fixed;
    top: 40px;
    bottom: auto;
  }

  .form--buttons-bottom.form--tabs-v .ib__autosubmit .ib__radios.form-wrapper,
  .form--ib.form--buttons-bottom.form--tabs-bottom .ib__autosubmit .ib__radios.form-wrapper {
    top: 0;
  }

  .form--buttons-top.form--tabs-top .ib__autosubmit .ib__radios.form-wrapper {
    top: auto;
    bottom: 0;
  }

  .form--ib .ib__autosubmit .ib__radios.form-wrapper input,
  .form--ib.form--selection-bottom.form--selection-h .ib__autosubmit .ib__radios.form-wrapper input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
  }

  .ib__radios.form-wrapper > div {
    margin: 0;
    padding: 0;
  }
}
