/**
 * @file
 */

/** Prevents unintentional clicking around during ajax progress. */
.ib-html .ajax-progress-fullscreen {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Claro */
.ib-body .messages-list {
  margin-bottom: 0;
}

.form--ib {
  margin-right: auto;
  margin-left: auto;
  padding-top: 64px;
  padding-right: 15px;
  padding-left: 15px;
}

.form--upload {
  padding-top: 64px;
}

.form--ib .ib__header {
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 48px; /* Claro pager, Seven modal bottom */
}

.ib.form--tabs .eb-tabs,
.ib.form--tabs .ib__footer {
  position: fixed;
  left: 0;
  width: 100%;
  min-height: 32px;
}

.ib.form--tabs .ib__aside .eb-tabs {
  position: relative;
}

/* Do not layer this. */
.ib__main,
.form--ib > .view--ib {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.ib .dropzone {
  margin: 0.5em auto;
  padding: 15px;
  color: #0074bd;
  border: 2px dotted rgba(0, 0, 0, 0.3);
  background: #f0f0f0;
  font-size: 24px;
  line-height: 1.2;
}

.ib .dropzone .dz-preview.dz-image-preview {
  background: none;
}

/** Counter */
.ib__counter {
  position: fixed;
  z-index: 100;
  bottom: 48px;
  left: 50%;
  padding: 2px 10px;
  transition: width 0.4s;
  transform: translateX(-50%);
  color: #000;
  background-color: #e6e5e1;
  font-size: small;
  font-weight: 300;
}

.ib.form--overlimit .ib__counter {
  transition: background-color 0.6s;
  color: #fff;
  background-color: #ff6d2c;
  font-weight: 600;
}

.ib.form--buttons-top.form--tabs-top .ib__counter {
  bottom: 0;
}

.ib.form--buttons-bottom.form--tabs-bottom .ib__counter {
  bottom: 48px;
}

/* Help */
.ib__help {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #eee;
  background: rgba(0, 0, 0, 0.9);
  font-size: 14px;
  line-height: 1.2;
}

.ib.form--selection-v .ib__help {
  line-height: 1.4;
}

#block-claro-content .ib__help { /* csslint allow: ids */
  font-weight: 300;
}

.item-list .ib__help li {
  margin: 0 0 0.25em;
  padding: 0;
}

.form--ib .item-list .ib__help {
  margin: 0;
  padding: 1rem 1.5rem;
}

.form--selection-v .item-list .ib__help {
  padding-top: 72px;
}

/** @todo: re-check. */
.form--single.is-no-selection .ib__footer {
  display: none;
}

.form--ib .grid {
  transition: width 0.6s;
}

.form--ib > div:not(.ib__aside) {
  width: 100%;
}

/** Has bundle selection at top */
.ib.form--media-bundle-selection {
  padding-top: 120px;
}

#block-claro-content .form--media-bundle-selection { /* csslint allow: ids */
  padding-top: 42px;
}

.form--buttons-bottom.form--tabs-bottom.form--media-bundle-selection,
#block-claro-content .form--buttons-bottom.form--tabs-bottom.form--media-bundle-selection { /* csslint allow: ids */
  padding-top: 42px;
}

.ib.form--tabs-v {
  padding-top: 0;
  padding-bottom: 160px;
}

.ib.form--inline-entity-form {
  margin-bottom: 120px;
}

@media (min-width: 768px) {
  .ib.form--media-bundle-selection {
    padding-top: 82px;
  }

  .ib.form--buttons-top.form--media-bundle-selection,
  .ib.form--tabs-top.form--media-bundle-selection {
    padding-top: 100px;
  }

  .form--ib {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 1024px) {
  .ib.form--inline-entity-form {
    padding-right: 64px;
    padding-left: 64px;
  }
}

@media (min-width: 1280px) {
  .ib.form--ib .ib__header {
    height: 48px;
  }
}
