/**
 * @file
 * Selection.
 *
 * .ib__footer is used at two places: EB selections, widgets.
 */

/** Form actions and selections stored within .ib__footer */
.form--ib .ib__footer {
  bottom: 0;
  width: 100%;
  min-height: 32px;
  transition: transform 0.4s;
  transform: translateX(0);
}

.form--ib.is-no-selection .ib__footer,
.form--ib.is-ib-empty .ib__footer {
  padding: 0;
  background-color: transparent;
}

.form--ib .ib__footer,
.ib.form--tabs-v .ib__footer {
  padding: 5px 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.form--ib.is-ib-collapsed .ib__footer {
  padding: 0;
}

.form--ib .ib__footer img {
  min-height: 80px;
  object-fit: cover;
}

.form--ib .ib__footer .entities-list a {
  color: #fff;
}

.ib__footer .form-actions {
  min-height: 28px;
  margin: 0;
}

/** Overrides EB inline CSS (slideToggle) since SB offers different positions. */
.ib__footer .entities-list {
  display: block !important; /* csslint allow: known-properties, important */
  visibility: visible;
  clear: both;
  overflow-y: scroll;
  height: auto !important; /* csslint allow: known-properties, important */
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 1;
}

.ib.is-ib-collapsed .ib__footer .entities-list {
  visibility: hidden;
  opacity: 0;
}

.is-ib-empty .ib__footer .entities-list {
  overflow: hidden;
}

.ib__footer .entities-list .item-container {
  float: left;
  width: 100px;
  height: 78px;
  margin: 10px 0 10px 10px;
  padding: 0;
  text-indent: 8px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
}

/** Selection: bottom. */
.ib.form--selection-bottom .ib__footer {
  max-height: 140px;
  transform: translateY(0);
}

.ib.form--selection-bottom.is-ib-collapsed .ib__footer {
  transform: translateY(64px);
}

.ib.form--selection-bottom .ib__footer .entities-list {
  max-height: 100px;
}

.ib.form--ib.view--ib-help .button-wrap--show-selection {
  visibility: hidden;
}

.ib.form--selection-bottom .ib__footer,
.ib.form--selection-bottom.view--ib-help .ib__footer {
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 120px;
  max-height: 180px;
  margin: 0;
}

.ib.form--selection-bottom.is-ib-collapsed .ib__footer {
  min-height: 28px;
}

.ib.form--selection-bottom.form--tabs-bottom .ib__footer,
.ib.form--selection-bottom.form--buttons-bottom .ib__footer,
.ib.form--selection-bottom.view--ib-help .ib__footer {
  bottom: 48px;
  padding-bottom: 0;
}

.ib.form--selection-h.form--buttons-top.form--tabs-bottom .ib__footer {
  bottom: 32px;
}

.ib.form--selection-bottom.form--buttons-top.form--tabs-top .ib__footer {
  bottom: 0;
}

.ib__footer .entities-list {
  overflow-y: auto;
}

.ib.form--selection-right .button-wrap.button-wrap--show-selection {
  right: auto;
  left: 0;
}

.ib.form--selection-v .ib__footer {
  left: 0;
  height: 100vh;
}

.ib.form--selection-v.form--buttons-bottom .ib__footer {
  padding-top: 32px;
  padding-bottom: 36px;
}

.ib.form--selection-v.form--buttons-top .ib__footer {
  top: 48px;
}

.ib.form--selection-left .ib__footer {
  right: auto;
  left: 0;
}

.ib.form--selection-right .ib__footer {
  right: 0;
  left: auto;
}

.ib.form--selection-v.is-ib-collapsed .ib__footer {
  transform: translateX(-210px);
}

.ib.form--selection-v.form--selection-right.is-ib-collapsed .ib__footer {
  transform: translateX(210px);
}

@media (min-width: 768px) {
  .ib.form--tabs-v .eb-tabs,
  .ib.form--selection-v .ib__footer {
    top: 0;
    float: left;
    clear: none;
    width: 240px;
    margin-right: -100%;
    text-align: left;
  }

  .ib.form--tabs-v.form--tabs-right .eb-tabs,
  .ib.form--selection-v.form--selection-right .ib__footer {
    float: right;
    margin-right: 0;
  }

  /** Both tabs and selection on the same side. */
  .ib.form--tabs-left.form--selection-left .eb-tabs,
  .ib.form--tabs-right.form--selection-right .eb-tabs {
    display: none;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }

  .ib.form--tabs-left.form--selection-left.is-ib-collapsed .eb-tabs {
    left: -100%;
  }

  .ib.form--tabs-right.form--selection-right.is-ib-collapsed .eb-tabs {
    right: -100%;
  }

  .ib.form--tabs .ib__footer .eb-tabs {
    display: block;
    background: none;
  }

  .ib.form--tabs .ib__footer .eb-tabs li a {
    color: #ccc;
  }

  .ib.form--tabs .ib__footer .eb-tabs li .is-active {
    color: #fff;
  }
}
