/**
 * @file
 */

.view--ib {
  position: relative;
  overflow: hidden;
  margin-bottom: 120px;
}

.ib .ib__viewswitch {
  float: right;
}

.ib .preview-section .ib__viewswitch {
  position: absolute;
  top: 0;
  right: 0;
}

.ib .pager {
  display: block;
  width: 100%;
  min-height: 42px;
  margin: 0; /* Claro */
  padding: 0;
  text-align: center;
  pointer-events: none;
  line-height: 1.2;
}

.form--ib .pager {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ib .pager__items {
  display: inline-block;
  margin: 0 auto;
  padding: 5px;
  pointer-events: auto;
  border: 6px solid rgba(0, 0, 0, 0.4);
  background-color: #e6e5e1;
  background-clip: padding-box;
}

.ib .pager__items .pager__item {
  display: inline-block;
}

.ib .pager__items .pager__item--current {
  line-height: 2; /* Claro */
}

.ib .view-filters {
  margin-bottom: 1em;
}

.view--ib .pager__items--end::after {
  margin-left: 10px;
  content: "x";
  color: red;
}

@media (min-width: 640px) {
  .ib .view-filters .form-text {
    max-width: 200px;
  }

  .ib .form--inline .form-actions {
    float: left;
    clear: none;
    margin: 2.25em 0 0.75em;
  }
}
