/**
 * @file
 */

/** Body with fullscreen video either outside or within iframe/ modal. */
body.is-ib-zoom {
  position: relative;
  /* admin toolbar JS */
  overflow: hidden !important; /* csslint allow: known-properties, important */
  height: 100vh;
}

.ib .media {
  background-color: #fff;
}

.ib__zoom,
.is-ib-zoom .ib .pager,
.is-ib-zoom .eb-tabs,
.is-ib-zoom .ib__aside {
  display: none;
  visibility: hidden;
}

/** Makes the .media wrapper zommed, ensures supporting multiple instances. */
.is-ib-zoom .is-ib-zoomed .ib__zoom {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: block;
  visibility: visible;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.is-ib-zoom .is-ib-zoomed .ib__zoom iframe {
  width: 100%;
  height: 100vh;
}

/** Body for the browser within iframe/ modal which has .form--view. */
.is-ib-zoom .form--view.is-ib-zoomed .is-playing iframe {
  height: 100vh;
}

.is-ib-zoom .form--view.form--iframe.is-ib-zoomed .is-playing iframe {
  height: 100%;
}

/** Icons. */
.ib .media__icon--play {
  border: 0;
}

.ib .media__icon--close::before,
.ib .media__icon--close::after {
  width: 20px;
  height: 4px;
  margin: -2px 0 0 -10px;
}

.ib .media__icon--close {
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
}

.is-ib-zoom .is-ib-zoomed .is-playing .media__icon--close {
  top: 20px;
  visibility: visible;
  margin: 0;
  opacity: 1;
  background-color: #6b6b6b;
}

.ib .media--rendered {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.ib .media--switch--media audio {
  top: 50%;
  bottom: auto;
  height: auto;
  transform: translateY(-50%);
}
