/**
 * @file
 */

.ib__widget {
  overflow: hidden;
  min-height: 160px;
  background-color: #e6e5e1;
}

.is-ib-sort {
  min-height: 320px;
}

.is-ib-removeall {
  min-height: 1px;
}

.ib__widget.is-ib-empty {
  min-height: 1px;
  background-color: transparent;
}

.ib__widget img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  pointer-events: auto;
}

.ib__widget .grid__content,
.ib__widget .ib__content {
  min-height: 62px;
}

.ib__widget .grid .grid__content {
  border: 2px dashed #eee;
}

.ib__widget .grid:hover .grid__content {
  border-color: #999;
}

.ib__widget .grid:hover .grid__content:hover {
  border-color: #ff6d2c;
}

.ib__sortitem {
  cursor: move;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.ib__placeholder {
  opacity: 0.8;
  border: 1px dotted #999;
  background-color: #ff6d2c;
}

.ib .ib__placeholder.grid {
  margin-left: 0.625rem;
  padding: 0;
}

.ib .ib__action {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 32px;
  border: 0;
}

.ib .ib__action .button-wrap {
  width: 32px;
}

.ib .ib__action .form-select {
  min-height: 24px;
}

.is-ib-single .ib__action {
  top: 0;
  right: 0;
  bottom: auto;
  width: auto;
}

.is-ib-single .ib__action .button-wrap {
  position: relative;
  right: auto;
  left: auto;
  display: inline-block;
  vertical-align: top;
}

.ib__widget .button.is-ib-active {
  background: #ff6d2c;
}

.ib .vertical-tabs {
  margin: 0;
  border: 0;
  border-radius: 0;
}

.ib > .details-wrapper {
  margin: 0; /* Claro */
  padding: 0;
}

/**
 * Sortable.
 */
.ib .ib__sortlist {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.ib .ib__sortlist {
  top: 42px;
}

.ib .ib__sortlist .ib__sortable {
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  width: 100%;
  margin: 0;
  padding: 42px 14px;
}

.ib .ib__sortlist .ib__sortable .ib__sortitem,
.ib .ib__sortlist .ib__sortable .ib__placeholder {
  position: relative;
  display: inline-block;
  overflow: hidden;
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  width: 112px;
  height: 64px;
  margin: 4px;
  padding: 0;
  list-style: none;
  vertical-align: top;
  border: 1px solid #fff;
}

.ib .ib__sortlist .ib__sortable .ib__sortitem img {
  object-fit: cover;
}

.ib .ib__sortlist .ib__sortable .ib__placeholder {
  opacity: 0.8;
  border-style: dotted;
  background-color: #ff6d2c;
}

.ib .form-type-managed-file {
  margin: 0;
  padding: 14px 0;
  background-color: #fff;
}

/**
 * Visibility.
 */
.ib .ib__sortlist {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
}

.ib__display {
  position: relative;
  padding: 1rem;
}

.is-ib-empty .ib__display {
  padding: 0;
}

.is-ib-grid .ib__display,
.is-ib-column .ib__display {
  /** Trigger CSS3 Columns layout. */
  padding-bottom: 1px;
}

.ib__widget .ib__caption,
.ib .button--done,
.ib .ib__sortlist,
.is-ib-sort .ib__caption,
.is-ib-sort .ib__header .button,
.is-ib-1 .button--caption,
.is-ib-sort .button--sort,
.is-ib-sort .ib__display {
  position: absolute;
  z-index: -11;
  right: 0;
  visibility: hidden;
  opacity: 0;
}

/* .ib__widget .grid .ib__caption, */
.is-ib-sort .ib__header .button.button--done,
.is-ib-caption .ib__caption {
  position: relative;
  z-index: 23;
  visibility: visible;
  opacity: 1;
}

.is-ib-sort {
  overflow: hidden;
}

.ib .ib__caption {
  text-align: center;
}

.ib .ib__caption .form-item {
  margin: 5px 0; /* Claro */
  text-align: left;
}

.is-ib-file:not(.is-ib-text, .is-ib-1) .ib__caption {
  background-color: transparent;
}

.is-ib-1 .ib__caption {
  position: absolute;
  z-index: 23;
  top: 0;
  left: 0;
  visibility: visible;
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 30px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.is-ib-1 .ib__caption label,
.is-ib-1 .ib__caption .description {
  color: #fff;
}

.ib .ib__caption .description {
  font-size: 11px;
}

.ib__widget .ib__preview {
  padding-bottom: 0;
}

.ib__upload .ib__caption img {
  width: auto;
}

.ib .ib__label {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  width: 100%;
  padding: 5px 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-weight: 300;
}

/**
 * Entity browser.
 */
.io-browser-rendered-entity .ib__preview,
.io-browser-label .ib__preview {
  padding: 15px;
}

.io-browser-rendered-entity .ib__preview {
  min-height: 160px;
}

.io-browser-rendered-entity figure,
.io-browser-rendered-entity iframe,
.io-browser-label figure,
.io-browser-label iframe {
  max-width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.ib--root-modal > .details-wrapper > p {
  padding-left: 15px;
}

@media (min-width: 64em) {
  .is-ib-grid .ib__display,
  .is-ib-column .ib__display {
    padding: 15px; /* Claro */
  }

  .is-ib-1 .ib__caption {
    position: absolute;
  }

  .no-touchevents .ib__display .ib__action {
    visibility: hidden;
  }

  .no-touchevents .is-ib-single .ib__display .ib__action,
  .no-touchevents .ib__display:hover .ib__action {
    visibility: visible;
  }
}
