/**
 * @file
 */

.ui-dialog.ui-dialog--ib {
  max-width: 100%;
}

.ui-dialog.ui-dialog--ib .ui-widget-content.ui-dialog-content {
  background: #e6e5e1;
}

.ui-dialog.ui-dialog--zoom .ui-widget-content.ui-dialog-content {
  padding: 0;
}

.ui-dialog--zoom iframe[id*="entity_browser_iframe"] {
  max-height: 100vh;
}

.ui-dialog-titlebar .button--ib {
  position: relative;
  z-index: 9;
  display: block;
  float: right;
  margin: 0; /* Claro */
  border-radius: 0;
}

@media (min-width: 640px) {
  .ui-dialog.ui-dialog--ib .ui-widget-content.ui-dialog-content {
    padding-top: 0;
    padding-bottom: 0;
  }
}
