/**
 * @file
 */

/** Grid. */
.view--ib .grid__content {
  position: relative;
  max-width: 100%;
  min-height: 64px;
  padding: 5px;
}

.view--ib .view-list--header .grid__content {
  min-height: 32px;
}

.view--ib .grid .grid__content {
  min-height: 132px;
  margin: 0;
  padding: 0;
  border: 6px solid rgba(0, 0, 0, 0.1);
  /* background-color: #f0f0f0; */
  background-clip: padding-box;
}

.view--node .blazy--grid .grid__content {
  padding: 10px;
}

.view--ib .was-ib-checked .grid__content {
  border: 4px dashed rgba(0, 0, 0, 0.2);
}

.view--ib .is-ib-checked .grid__content {
  border-color: #ff6d2c;
}

/** Info. */
.view--ib .field,
.view--ib .views-field {
  font-size: 0; /* killing whitespace. */
}

.view--ib .ib__caption {
  pointer-events: none;
  font-weight: 400;
}

.view--ib .field__label,
.view--ib .views-label {
  font-size: 14px;
  font-weight: 600;
}

.view--ib:not(.view--ib-list) .is-ib-info-active .ib__caption {
  color: #ccc;
}

.view--ib .ib__preview,
.view--ib .grid .views-field--preview,
.view--ib .grid .views-field--selection {
  position: relative;
  min-height: 64px;
}

.view--ib .grid .ib__caption {
  white-space-collapse: discard;
  position: absolute;
}

.view--ib .grid.is-ib-info-active .ib__caption /*,
.view--ib .grid.is-ib-info-active .views-field--selection */ {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.view--ib .grid .ib__preview::after,
.view--ib .grid .views-field--selection::after {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  content: "";
  pointer-events: none;
  background: rgba(0, 0, 0, 0.9);
}

.view--ib .grid.is-ib-info-active .ib__preview::after,
.view--ib .grid.is-ib-info-active .views-field--selection::after {
  display: block;
}

.view--ib .grid.is-ib-info-active .ib__caption a,
.view--ib .grid.is-ib-info-active .views-field a {
  color: #fff;
}


/** Views field. */
/** Excludes fake table header for the list view. */
/* .view--ib .field__label,
.view--ib .views-label, */
.ib__footer .field__label,
.ib__footer .views-label {
  position: absolute;
  visibility: hidden;
}

.view--ib .grid .field__label,
.view--ib .grid .views-label,
.view--ib .grid .field__item,
.view--ib .grid .field-content,
.view--ib.view--node.view--ib-list .field__label,
.view--ib.view--block.view--ib-list .field__label,
.view--ib.view--node.view--ib-list .views-label,
.view--ib.view--block.view--ib-list .views-label {
  position: relative;
  display: inline-block;
  visibility: visible;
  min-width: 80px;
  padding-right: 10px;
  text-align: right;
  vertical-align: top;
}

.view--ib .grid .field__item,
.view--ib .grid .field-content {
  padding-right: 0;
  text-align: left;
  font-size: 14px;
}

.view--ib.view--file.view--ib-list .field__label,
.view--ib.view--file.view--ib-list .views-label,
.view--ib.view--media.view--ib-list .field__label,
.view--ib.view--media.view--ib-list .views-label {
  display: none;
}

.view--ib .ib__caption {
  overflow: hidden;
  padding: 18px;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px; /* Claro */
  line-height: 1.4;
}

.view--ib .ib__preview,
.view--ib .ib__caption,
.form--ib .views-field,
.form--overlimit .is-ib-checked .views-field {
  cursor: cell;
}

.ib.form--overlimit .grid {
  cursor: not-allowed;
}

.view--ib .grid.is-ib-info-active .media__icon {
  display: none;
}

/** Was checked */
.view--ib .grid.was-ib-checked .grid__content {
  cursor: not-allowed;
  opacity: 0.8;
}

.view--ib .grid.was-ib-checked.is-ib-info-active .grid__content {
  opacity: 1;
}


/** Checked grid. */
.view--ib .is-ib-checked .media::after,
.view--ib .was-ib-checked .media::after {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 2px;
  display: block;
  width: 28px;
  height: 28px;
  content: "\2714";
  color: #ff6d2c;
  font-size: 28px;
  line-height: 28px;
}

/** .view--ib.view--ib .views-field.views-field-entity-browser-select, */
.view--ib .grid.was-ib-checked .button--select,
.view--ib .is-ib-checked:hover .media::after {
  display: none;
}

/** Twitter, etc. has inline CSS with visibility, hence !important. */
.view--ib.view--ib .media__thumbnail,
.view--ib.view--ib-list .media--list > * {
  display: none !important; /* csslint allow: known-properties, important */
}

.view--ib.view--ib-list .media--list > .visible-list {
  display: block !important; /* csslint allow: known-properties, important */
  padding: 0;
}

/** 641px with 16px base font. */
@media only screen and (min-width: 40.063em) {
  .view--ib .b-grid--sm-2 .field__label,
  .view--ib .b-grid--sm-2 .views-label {
    min-width: 110px;
  }
}

/** 1025px with 16px base font. */
@media only screen and (min-width: 64.063em) {
  .view--ib .b-grid--sm-3 .field__label,
  .view--ib .b-grid--sm-3 .views-label {
    min-width: 120px;
  }
}
