/**
 * @file
 */

/* csslint "box-sizing": true, "box-model": true, ids: true */
.ib__viewswitch .button-group {
  display: inline-block;
  vertical-align: top;
}

.ib__viewswitch .button {
  position: relative;
  padding: 0;
}

.ib__viewswitch .button.is-ib-active {
  background: #ff6d2c;
}

/** Overrides core */
.ib__viewswitch .button:focus {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ib__viewswitch .button--view::before,
.ib__viewswitch .button--view::after {
  position: absolute;
  top: -4px;
  right: 12px;
  display: block;
  width: 20px;
  height: 0;
  content: "";
}

.ib__viewswitch .button--grid::before,
.ib__viewswitch .button--grid::after {
  width: 1px;
  /*
  -webkit-box-shadow: 0 12px 0 3px #333, 0 20px 0 3px #333, 0 28px 0 3px #333;
  box-shadow: 0 12px 0 3px #333, 0 20px 0 3px #333, 0 28px 0 3px #333;
  width: 4px;
  */
  -webkit-box-shadow: 0 14px 0 2px #333, 0 22px 0 2px #333;
  box-shadow: 0 14px 0 2px #333, 0 22px 0 2px #333; /* Claro wants 2px */
}

.ib__viewswitch .button--view.button--grid::before {
  right: auto;
  left: 14px;
}

.ib__viewswitch .button--list::before,
.ib__viewswitch .button--list::after {
  -webkit-box-shadow: 0 14px 0 1px #333, 0 19px 0 1px #333, 0 24px 0 1px #333;
  box-shadow: 0 14px 0 1px #333, 0 19px 0 1px #333, 0 24px 0 1px #333;
}

.ib__viewswitch .button--view.button--list::before {
  right: auto;
  left: 10px;
  width: 1px;
}

.ib__viewswitch .button--view.button--list::after {
  width: 10px;
}

.ib__viewswitch .button-group .button--view.button--help {
  font-size: 16px;
}

/** Views field. */
.form--ib .view--ib-list .view-list--header .views-field {
  cursor: default;
}

.view--ib .view-list--header {
  display: none;
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  padding: 4px 0;
  text-transform: uppercase;
}

/** List view. */
.view--ib.view--ib-list .blazy--grid {
  margin: 0;
}

.view--ib.view--ib-list .grid {
  box-sizing: border-box; /* dups due to csslint ignoring inheritance */
  width: 100%;
  padding: 0;
  border: 1px dotted transparent;
}

.view--ib.view--ib-list .grid:nth-child(even) {
  background-color: #f0f0f0;
}

.view--ib.view--ib-list .grid.is-ib-checked {
  border-color: #ccc;
  background-color: #b0dbbe; /* #d5f0fa; */
}

.view--ib.view--ib-list .grid.view-list--header {
  border-bottom: 4px solid #f0f0f0;
  background-color: #fff;
}

.view--ib.view--ib-list .ib__caption {
  position: relative;
  display: block;
  margin-left: 90px;
}

.view--ib.view--ib-list .view-list--header .views-field {
  margin-left: 0;
}

.view--ib.view--ib-list .view-list--header .views-field {
  width: auto;
}

.view--ib-list .field,
.view--ib-list .views-field {
  min-height: 22px !important; /* csslint allow: known-properties, important */
}

.view--ib.view--ib-list .ib__caption .field,
.view--ib.view--ib-list .ib__caption .views-field {
  overflow: hidden;
  min-width: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.view--ib.view--ib-list .ib__caption .field--name-name,
.view--ib.view--ib-list .ib__caption .views-field--name,
.view--ib.view--ib-list .ib__caption .views-field-filename,
.view--ib.view--ib-list .ib__caption .field--name-filename {
  min-width: 210px;
  max-width: 210px;
}

.view--ib.view--ib-list .ib__preview .file--text {
  position: absolute;
  visibility: hidden;
}

.view--ib.view--ib-list .ib__preview,
.view--ib.view--ib-list .views-field--preview,
.view--node.view--ib-list .views-field,
.view--block.view--ib-list .views-field {
  margin-left: 0;
}

/** Preview. */
.view--ib.view--ib-list .ib__preview,
.view--ib.view--ib-list .views-field--preview {
  float: left;
  width: 80px;
  min-width: 80px;
  margin-right: -100%;
}

.view--ib-list .view-content .grid__content {
  padding: 5px;
}

.view--ib .view-list--header {
  display: none;
}

@media (min-width: 680px) {
  .view--ib.view--ib-list .grid {
    display: inline-block;
    width: 49.9999%;
    vertical-align: top;
  }

  .view--ib.view--ib .view-list--header {
    display: none;
  }
}

@media (min-width: 768px) {
  .view--ib.view--ib-list .grid {
    width: 100%;
  }

  .view--ib-list .view-content .grid__content {
    padding: 0;
  }

  .view--ib.view--ib-list .ib__preview,
  .view--ib.view--ib-list .views-field--preview {
    margin-right: 0;
    padding: 4px;
  }

  .view--ib.view--ib-list .grid {
    display: table;
    table-layout: fixed;
  }

  .view--ib.view--ib-list .grid__content {
    display: table-row;
    padding: 0;
  }

  .view--ib.view--ib-list .visible-list,
  .view--ib.view--ib-list .field,
  .view--ib.view--ib-list .views-field {
    display: table-cell;
    padding: 5px;
  }

  .view--ib.view--ib-list .view-list--header .views-field--preview {
    padding-left: 15px;
  }

  /** Prevents broken vertical with irregular heights within table view. */
  .view--ib.view--ib-list .ib__preview .media,
  .view--ib.view--ib-list .views-field .media {
    height: 64px;
    /* Even if unholy */
    padding-bottom: 0 !important; /* csslint allow: known-properties, important */
  }

  /** Consider using object-fit rather than aspect ratio when widely supported. */
  .view--ib.view--ib-list .ib__preview img,
  .view--ib.view--ib-list .views-field img {
    object-fit: cover;
  }

  /*   .view--ib-list .view-content .views-field */
  .view--ib.view--ib-list .ib__caption,
  .view--ib.view--ib-list .ib__preview {
    min-height: 64px !important; /* csslint allow: known-properties, important */
  }

  .view--ib.view--ib-list .ib__caption {
    padding: 22px;
  }

  .view--ib-list .view-list--header .views-field {
    min-height: 32px !important; /* csslint allow: known-properties, important */
  }
}
